<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>Mad Lips!</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  </head>
  <body>
    <h1>Fill in the blanks to create your own Mad Lips!</h1>
    <form action='/mad_libs'>
      <div class='form-group'>
        <label for='noun1'>Noun 1</label>
        <input id='noun1' name='noun1' class='form-control' type='text'>
      </div>
      <div class='form-group'>
        <label for='noun2'>Noun 2</label>
        <input id='noun2' name='noun2' class='form-control' type='text'>
      </div>
      <div class='form-group'>
        <label for='noun3'>Noun 3</label>
        <input id='noun3' name='noun3' class='form-control' type='text'>
      </div>
      <div class='form-group'>
        <label for='noun4'>Noun 4</label>
        <input id='noun4' name='noun4' class='form-control' type='text'>
      </div>
      <div class='form-group'>
        <label for='adjective1'>Adjective 1</label>
        <input id='adjective1' name='adjective1' class='form-control' type='text'>
      </div>
      <div class='form-group'>
        <label for='adjective2'>Adjective 2</label>
        <input id='adjective2' name='adjective2' class='form-control' type='text'>
      </div>
      <div class='form-group'>
        <label for='verb1'>Verb 1</label>
        <input id='verb1' name='verb1' class='form-control' type='text'>
      </div>
      <div class='form-group'>
        <label for='verb2'>Verb 2</label>
        <input id='verb2' name='verb2' class='form-control' type='text'>
      </div>
      <div class='form-group'>
        <label for='verb3'>Verb 3</label>
        <input id='verb3' name='verb3' class='form-control' type='text'>
      </div>
      <div class='form-group'>
        <label for='verb4'>Verb 4</label>
        <input id='verb4' name='verb4' class='form-control' type='text'>
      </div>
      <button type='submit' class='btn'>Go!</button>
    </form>
  </body>
</html>
